.orders {
    text-align: center;
    margin-top: 100px ;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.orders p{
    font-size: 33px;
}
#customer{
    color: blue;
    font-size: 38px;
}
#email{
    color: red;
    font-size: 25px;
}
#product{
    color: grey;
    font-size: 40px;
}
#price{
    color: green;
    font-size: 30px;
}
#date{
    color: black;
    font-size: 23px;
}